**/node_modules/
**/dist/
.env*
*.log
.git/
.zed/
**/.output/
**/.oxlintrc.json
**/oxfmt.config.ts
**/test/
grafana/
prometheus.yml
nginx/
loadbalancer/
scripts/
compose.yaml
.gitignore
LICENSE
**/.tanstack/
**/.nitro/
**/routeTree.gen.ts
